{% extends "base.html" %}

{% block title %}BIASDB: Home{% endblock %}
{% block page_content %}
<section class="hero is-warning">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <span class="icon is-large">
                            <i class="fas fa-database fa-2x"></i>
                        </span>
                        <span>
                            <h1 class="title is-size-4 has-text-weight-bold">BIASDB</h1>
                        </span>
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item" href="/about">
                            About
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p>
                <img src="{{ url_for('static', filename='img/petri-dish.png') }}" width="120">
            </p>
            <p class="title">
                Welcome to BIAS Database
            </p>
            <p class="subtitle">
                Quick access to Bacteria Identified by Automated Systems (BIAS) on <a
                    href="https://www.ncbi.nlm.nih.gov/pubmed/"><strong>PubMed</strong></a>
            </p>
            <p class="subtitle is-size-6">
                <a
                    href="https://www.ncbi.nlm.nih.gov/pubmed/">
                    By Faculty of Medical Technology, Mahidol University, Thailand
                </a>
            </p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-half is-offset-3">
                <article>
                    <div class="has-text-centered">
                        <img src="{{ url_for('static', filename='img/target.png') }}" width="100">
                        <p class="title is-size-4">Our Goal</p>
                    </div>
                    <p class="has-text-justified">
                        <span class="has-text-weight-bold">Rationale and Goal:</span>&nbsp;More and more uncommon medically-important bacteria have been identified and published on PubMed thanks to the advanced automated systems. This project aims to collect and extract the information that could be useful for a medical microbiologist who may need information to validate the identification of uncommon bacteria. The database is updated monthly to monitor newly reported bacteria. It currently stores information of bacteria that were possibly identified by VITEK MS, VITEK 2 or Biotyper.
                    </p>
                </article>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="has-text-centered">
                    <img src="{{ url_for('static', filename='img/newspaper.png') }}" width="100">
                    <h2 class="title is-size-4">Total Articles : {{ articles_count }}</h2>
                    <h2 class="subtitle is-size-6">
                        <p>
                            Updated at April 12, 2019
                        </p>
                    </h2>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <div class="notification">
                    <div class="has-text-centered">
                        <h1 class="title is-size-4">VITEK MS</h1>
                        <p>
                        <ul>
                            <li>Articles ({{ summary['VITEK MS']['articles']|length }})</li>
                            <li>Years ({{ summary['VITEK MS']['years']|min }}-{{ summary['VITEK MS']['years']|max }})
                            </li>
                            <li>Organisms ({{ summary['VITEK MS']['organisms']|length }})</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <div class="has-text-centered">
                        <h1 class="title is-size-4">VITEK 2</h1>
                        <p>
                        <ul>
                            <li>Articles ({{ summary['VITEK 2']['articles']|length }})</li>
                            <li>Years ({{ summary['VITEK 2']['years']|min }}-{{ summary['VITEK 2']['years']|max }})</li>
                            <li>Organisms ({{ summary['VITEK 2']['organisms']|length }})</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="notification">
                    <div class="has-text-centered">
                        <h1 class="title is-size-4">Biotyper</h1>
                        <p>
                        <ul>
                            <li>Articles ({{ summary['biotyper']['articles']|length }})</li>
                            <li>Years ({{ summary['biotyper']['years']|min }}-{{ summary['biotyper']['years']|max }})
                            </li>
                            <li>Organisms ({{ summary['biotyper']['organisms']|length }})</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="subtitle is-size-7">
                    <p>
                        *Articles were searched using keyword "VITEK MS, VITEK 2 and biotyper".
                        Then they were downloaded and processed using text mining techniques to
                        extract bacterial names and relevant information.
                    </p>
                </h2>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div id="app">
            <div class="box">
                <div class="has-text-centered">
                    <img src="{{ url_for('static', filename='img/search-2.png') }}" width="100">
                    <h1 class="title is-size-4">Search and Explore</h1>
                </div>
                <br>
                <b-input v-model="query" placeholder="Search genus and species"></b-input>
                <br>
                <b-field grouped group-multiline>
                    <div class="control">
                        <b-switch v-model="VitekMS">VITEK MS</b-switch>
                    </div>
                    <div class="control">
                        <b-switch v-model="Vitek2">VITEK 2</b-switch>
                    </div>
                    <div class="control">
                        <b-switch v-model="Biotyper">Biotyper</b-switch>
                    </div>
                </b-field>
                <b-table
                        :data="fltOrgList"
                        :loading="isLoading"
                        default-sort="count"
                        ref="table"
                        paginated
                        per-page="20"
                        detailed
                        detail-key="id"
                        aria-next-label="Next page"
                        aria-previous-label="Previous page"
                        aria-page-label="Page"
                        aria-current-label="Current page">
                    <template slot-scope="props">
                        <b-table-column field="spname" label="Species" sortable>
                            <span class="is-italic"><< props.row.spname >></span>
                        </b-table-column>
                        <b-table-column field="pmid" label="PMID" sortable>
                            << props.row.pmid >>
                        </b-table-column>
                        <b-table-column field="term" label="Term" sortable>
                            << props.row.term >>
                        </b-table-column>
                        <b-table-column field="year" label="Year" numeric sortable>
                            << props.row.year >>
                        </b-table-column>
                        <b-table-column field="count" label="Count" numeric sortable>
                            << props.row.count >>
                        </b-table-column>
                    </template>
                    <template slot="detail" slot-scope="props">
                        <article class="media">
                            <article class="media-content">
                                <div class="content">
                                    <p><strong><< props.row.title >></strong><br>
                                        <br>
                                        <small><< props.row.authors >></small>&nbsp;<small><< props.row.journal >>
                                        </small>
                                        <small><a v-bind:href="'https://www.ncbi.nlm.nih.gov/pubmed/'+props.row.pmid"
                                                  class="button is-small is-primary">PubMed</a></small>
                                        <small><a v-bind:href="'/bacteria/profile/'+props.row.spid"
                                                  class="button is-small is-info">Profile</a></small>
                                    </p>
                                </div>
                            </article>
                        </article>
                    </template>
                </b-table>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    var vm = new Vue({
        'el': '#app',
        'delimiters': ['<<', '>>'],
        data() {
            return {
              orgList: [],
              query: '',
              Biotyper : true,
              VitekMS : true,
              Vitek2 : true,
              isLoading : true,
          }
        },
        mounted() {
            var self = this;
            axios.get('{{ url_for("api_get_organisms") }}')
            .then(function(response) {
              self.orgList = response.data;
              self.isLoading = false;
            });
        },
        computed: {
          fltOrgList: function() {
            if(this.orgList.length > 0) {
                return this.orgList.filter((option) => {
                    var terms = [];
                    if (this.Biotyper) {
                        terms.push('biotyper');
                    }
                    if (this.VitekMS) {
                        terms.push('VITEK MS');
                    }
                    if (this.Vitek2) {
                        terms.push('VITEK 2');
                    }
                    var included = terms.indexOf(option.term) >= 0;
                    var match = option.spname.toString().toLowerCase().indexOf(this.query.toLowerCase()) >= 0;
                    return included && match;
                })
            }
            else { return []; }
          }
        },
    })
</script>
{% endblock %}
